body {
	background-color: white;
}

.numTries {
	background: azure;
}

.pegs {
	background: azure;
}

.result {
	background: azure;
}

.board {
	margin: 20px 0;
}

.board .row {
	height: 50px;
	border: 1px solid black;
}

.circle {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	border: 1px solid black;
	margin: 5px 8px;
	display: inline-block;
	background-color: #999999;
}

.palette h3 {
	padding: 8px;
}

.paletteCircle {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	border: 1px solid black;
	margin: 5px 8px;
	display: inline-block;
}

#red {
	background: #FF4F4F;
}

#green {
	background: #7DF442;
}

#blue {
	background: #42CBF4;
}

#yellow {
	background: yellow;
}

#purple {
	background: #C570FF;
}

#pink {
	background: pink;
}

.check {
	font-size: 28px;
	text-align: center;
	margin: 25px;
	border: 2px solid black;
	background: white;
	width: 120px;
}
