body {
	background-color: white;
}

.numTries {
	background: white;
}

.pegs {
	background: azure;
}
.pegs .row {
	border: 1px solid black;
}

.result {
	background: white;
}

.board {
	margin: 20px 0;
}

.board .row {
	height: 50px;
}

.row h2 {
	text-align: right;
	padding: 0 20px;
	line-height: auto;
	margin: 8px auto;
}
.circle {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	border: 1px solid black;
	margin: 5px 8px;
	display: inline-block;
	background-color: #999999;
}

.palette h3 {
	padding: 8px;
}

.paletteCircle {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	border: 1px solid black;
	margin: 5px 8px;
	display: inline-block;
}

#red {
	background: #FF4F4F;
}

#green {
	background: #7DF442;
}

#blue {
	background: #42CBF4;
}

#yellow {
	background: yellow;
}

#purple {
	background: #C570FF;
}

#pink {
	background: pink;
}

.palette .row {
	border: none;
}

.check {
	font-size: 28px;
	text-align: center;
	padding: 5px 5px;
	margin: 10px 20px;
	border: 2px solid black;
	border-radius: 15px;
	background-color: #4CAF50;
	box-shadow: 0 8px #999;
	cursor: pointer;
}
.check:focus {outline:0;}
.check:hover {background-color: #3e8e41}

.check:active {
	border: 2px solid black;
	background-color: #3e8e41;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
